name: Mirror Docker Image to Aliyun

on:
  workflow_dispatch: # 允许手动点击按钮触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v2
        with:
          registry: crpi-6qkcjqd0hucj649m.cn-hangzhou.personal.cr.aliyuncs.com
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Pull and Push Image
        run: |
          # 1. 拉取微软原版镜像 (GitHub服务器在国外，速度极快)
          docker pull mcr.microsoft.com/devcontainers/jekyll:2-bullseye
          
          # 2. 这里的地址换成你第一步在阿里云创建的地址
          # 格式: registry.地区.aliyuncs.com/命名空间/仓库名:标签
          NEW_IMAGE="crpi-6qkcjqd0hucj649m.cn-hangzhou.personal.cr.aliyuncs.com/jekyll/jekyll-latest"
          
          # 3. 重新打标签
          docker tag mcr.microsoft.com/devcontainers/jekyll:2-bullseye $NEW_IMAGE
          
          # 4. 推送到阿里云
          docker push $NEW_IMAGE
